body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

/* header {
  background: #007acc;
  color: white;
  text-align: center;
  padding: 1rem 0;
} */

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

.intro {
  text-align: center;
  padding: 2rem;
}

footer {
  background: #f4f4f4;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
